In [2]:
# import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd

In [4]:
table = pd.read_csv("../simout/0.txt")
table

    timestep  iswolf  id  posx  posy   age     color  hunger    vision
0          0       1   0     1     1   0.0       NaN     0.0  0.934829
1          0       1   1     1     2   0.0       NaN     0.0  0.917510
2          0       0   2     0     0   0.0  0.356553     NaN       NaN
3          0       0   3     1     0   0.0  0.798445     NaN       NaN
4          1       1   0     2     0   2.5       NaN     8.5  0.934829
5          1       1   1     1     3   2.5       NaN     8.5  0.917510
6          1       0   2    -1     1   2.5  0.356553     NaN       NaN
7          1       0   3     2     1   2.5  0.798445     NaN       NaN
8          2       1   0     3     1   5.0       NaN    17.0  0.934829
9          2       1   1     2     2   5.0       NaN    17.0  0.917510
10         2       0   2    -1     2   5.0  0.356553     NaN       NaN
11         2       0   3     2     0   5.0  0.798445     NaN       NaN
12         3       1   0     4     1   7.5       NaN    25.5  0.934829
13         3       1   1     3     2   7.5       NaN    25.5  0.917510
14         3       0   2    -1     3   7.5  0.356553     NaN       NaN
15         3       0   3     2     0   7.5  0.798445     NaN       NaN
16         4       1   0     3     0  10.0       NaN    34.0  0.934829
17         4       1   1     3     1  10.0       NaN    34.0  0.917510
18         4       0   2     0     3  10.0  0.356553     NaN       NaN
19         4       0   3     3    -1  10.0  0.798445     NaN       NaN